/.vs/Simple-Online-Store/FileContentIndex/38decc28-48c2-4f09-94a1-0d52125cfe45.vsidx
/Simple_Online_Store/.vs/Simple_Online_Store/FileContentIndex/5841dfe1-2f26-4a30-bb5a-a71daca6e3a9.vsidx
/Simple_Online_Store/.vs/Simple_Online_Store/FileContentIndex/89f9a38b-3827-4c05-811e-0cc46ab254db.vsidx
/Simple_Online_Store/.vs/Simple_Online_Store/FileContentIndex/b5bc1c26-933c-4f6e-bd3b-f895f0fd812f.vsidx
